* {
  margin: 0;
  padding: 0;
}

.character {
  height: 45px;
  width: 30px;
  position: absolute;
}

.character__sprite {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.platform {
  background-color: black;
  position: absolute;
}

.gameArea {
  position: relative;
  height: 500px;
  width: 500px;
  border: black solid 5px;
  border-radius: 2px;
}