.platform__One {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 200px;
  bottom: 20px;
  left: 0px;
}
.platform__Two {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 150px;
  bottom: 60px;
  left: 200px;
}
.platform__Three {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 50px;
  bottom: 100px;
  left: 400px;
}
.platform__Four {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 100px;
  bottom: 170px;
  left: 300px;
}
.platform__Five {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 100px;
  bottom: 170px;
  left: 70px;
}
.platform__Six {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 30px;
  bottom: 240px;
  left: 75px;
}
.platform__Seven {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 30px;
  bottom: 300px;
  left: 100px;
}
.platform__Eight {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 40px;
  bottom: 300px;
  left: 150px;
}
.platform__Nine {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 100px;
  bottom: 330px;
  left: 200px;
}
.platform__Ten {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 30px;
  bottom: 300px;
  left: 100px;
}
.platform__Eleven {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 30px;
  bottom: 300px;
  left: 100px;
}